<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>
                    This is about page.
                </h1>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse, rerum, eveniet distinctio ullam
                    omnis qui mollitia doloremque aliquam eius neque amet ad debitis numquam quaerat saepe enim officia
                    et. Earum!
                </p>
            </div>
        </div>
    </div>

</body>

</html>